DIGITALOCEAN_ACCESS_TOKEN="yourtoken"
DIGITALOCEAN_SSH_KEY_FINGERPRINT="55:55:55:55:55:55:55:55:55:55:55:55:55:55:55:55"
DIGITALOCEAN_IMAGE="debian-9-x64" 
DIGITALOCEAN_REGION="fra1"
DIGITALOCEAN_SIZE="s-2vcpu-2gb"
DIGITALOCEAN_BACKUPS="false"
DIGITALOCEAN_MONITORING="true"
DIGITALOCEAN_USERDATA="do_userdata.yml"
DIGITALOCEAN_HOSTNAME="host1"
DIGITALOCEAN_SSH_KEY_PATH="/home/user/.ssh/id_ed25519"
DIGITALOCEAN_SSH_PORT="2222"
