#DigitalOcean Access Token - must be obtained from the DigitalOcean Website
DIGITALOCEAN_ACCESS_TOKEN=""

#Droplet Info
DROPLET_TAG="mailcow-prod-1"
DROPLET_HOSTNAME="fqdn.test.com"
DROPLET_SIZE="s-2vcpu-2gb"
DROPLET_IMAGE="debian-9-x64" 
DROPLET_REGION="blr1"
DROPLET_SSHKEY="EE:FF:EE:FF:EE:FF:EE:FF:EE:FF:EE:FF:EE:FF:EE:FF"
DROPLET_BACKUPS="true"
DROPLET_MONITORING="true"
DROPLET_USERDATAFILE="userdata.yml"
DROPLET_SSH_KEY_PATH="/home/USER/.ssh/id_ed25519"
DROPLET_SSH_PORT="222"
DROPLET_SSH_USER=""

#Network Info
NETWORK_FIREWALL="mailcow-prod-fw"

#Mailcow Config
MAILCOW_TZ="UTC"
MAILCOW_BACKUP_DIR="/mnt/backup/"
MAILCOW_BACKUP_FILE="/srv/backup.img"
MAILCOW_VOLUME="mailcow-prod-vol-1"
MAILCOW_VOLUME_SIZE="100GiB"

#Script Locations
SCRIPT_CONFIG="script_Config"
