#DigitalOcean Access Token - must be obtained from the DigitalOcean Website
DIGITALOCEAN_ACCESS_TOKEN=""

#Droplet Info
DROPLET_TAG="mailcow-prod-1"
DROPLET_HOSTNAME=""
DROPLET_SIZE="s-2vcpu-2gb"
DROPLET_IMAGE="debian-9-x64" 
DROPLET_REGION="blr1"
DROPLET_SSHKEY="EE:FF:EE:FF:EE:FF:EE:FF:EE:FF:EE:FF:EE:FF:EE:FF"
DROPLET_BACKUPS="true"
DROPLET_MONITORING="true"
DROPLET_USERDATAFILE="userdata.yml"
DROPLET_SSH_KEY_PATH="/home/USER/.ssh/id_ed25519"
DROPLET_SSH_PORT="2222"
DROPLET_SSH_USER=""

#Network Info
NETWORK_FIREWALL="mailcow-prod-fw"

#Mailcow Config
MAILCOW_TZ="UTC"
MAILCOW_DBPASS=""
MAILCOW_DBROOT=""


#Script Locations
SCRIPT_VOLUME="script_Volume"
SCRIPT_MAILCOW="script_Mailcow"
