export DIGITALOCEAN_ACCESS_TOKEN="yourtoken"
export DIGITALOCEAN_SSH_KEY_FINGERPRINT=""
export DIGITALOCEAN_IMAGE="debian-9-x64" 
export DIGITALOCEAN_REGION="fra1"
export DIGITALOCEAN_SIZE="s-2vcpu-2gb"
export DIGITALOCEAN_BACKUPS="false"
export DIGITALOCEAN_MONITORING="true"
export DIGITALOCEAN_USERDATA="do_userdata.yml"
export DIGITALOCEAN_HOSTNAME="fqdn.example.com"
export DIGITALOCEAN_SSH_KEY_PATH="/home/user/.ssh/id_ed25519"
export DIGITALOCEAN_SSH_PORT="2222"

export MAILCOW_TZ="Etc/UTC"
